* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}
  
body {
  background-color: #E8CEBF;
  color: #266150;
}

header p, button {
  font-family: 'Poiret One', cursive;
  font-weight: 500;
}

h1{
  font-family: 'Poiret One', cursive;
}

.jumbotron {
  background-image: linear-gradient(rgba(250, 188, 131, 0.658), rgba(233, 172, 122, 0.247)), url('../img/Mainherbalimage.jpg');
  height: 80vh;
  background-size: cover;
  background-position: center;
  color: #266150;
  border-radius: 0;
  border: 5px solid #DDAF94;
  opacity: 70%;
}

.jumbotron h1 {
  margin: 30px 0;
  font-size: 40px;
  line-height: 1.5;
  font: bold;
  font-weight: 700;
  color: #24140b;
  position: relative;
  bottom: 100px;
}

.main-text {
  margin-top: 200px;
}
.intro a {
  text-decoration: none;
  color: #266150;
  font-family: ;
}
.navbar{
  padding: .2rem 7rem;
  color: #266150;
}

.navbar .navbar-brand{
  font-size: 0.9rem;
  font-weight: 600;
  color: #266150;
}
.navbar .navbar-brand:hover{
  color: #FDF8F5;
  font-size: 1rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
  font-size: 0.9rem;
  font-weight: 600;
  color: #266150;
  padding: 0 1.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
  color: #FDF8F5;
  font-size: 1rem;
}

.btn {
  color: #266150;
  border: 2px solid;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 30px;
  font-family: 'Dosis', sans-serif;
}

.btn:hover {
  color: #FDF8F5;
  font-size: 0.8rem;
  border: 1px inset;
}

.btn-index {
  color: #24140b;
  padding: 10px 30px;
  background-color: #DDAF94;
  border: 5px solid;
}

.btn:hover {
  padding: 5px 15px;
  font-size: 1rem;
  border: 5px inset;
}

#navbarSupportedContent > ul > li.nav-item.dropdown.show > div {
  background-color: #E8CEBF;
  color: #266150;
}


.fa-bars {
  color: #266150;
}

footer a {
  text-decoration: none;
  color: #266150;
}

footer a:hover {
  text-decoration: none;
  color: #FDF8F5;
}

.section-1 img {
  height: 400px;
  width: 450px;
  border-radius: 40px;
  border: 3px solid #DDAF94;
}


#carouselExampleControls > div > div:nth-child(n) > img {
  height: 400px;
  border-radius: 40px;
  border: 3px solid #DDAF94;
}

.azindex a {
   padding: 0 6.7px 5px;
   color: blanchedalmond;
   border-right: 1px solid #f8ef42;
 }

.indexpic {
  margin-top: 10px;
  border-radius: 20%;
}