
.mainHeader {
  background-image: linear-gradient(to right bottom, #faf1e8, #faf1e8, #faf1e8, #faf1e8, #faf1e8, #f5ebde, #eee6d4, #e6e1cb, #cfd7b9, #b3cdac, #91c4a6, #6bbaa7);
  height: 180px;

}

.logo {
  height: 200px; 
  border-radius: 40%;
  border: 1px solid #6bbaa7;
  margin-top: 80px;
}
.mainTitle {
  font-size: 50px;
  color: #6bbaa7;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 30px;
}
